@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/woff/YekanHeavy.woff') format('woff'),
        url('/assets/fonts/ttf/YekanHeavy.ttf') format('truetype');
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/woff/YekanBold.woff') format('woff'),
        url('/assets/fonts/ttf/YekanBold.ttf') format('truetype');
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/woff/YekanMedium.woff') format('woff'),
        url('/assets/fonts/ttf/YekanMedium.ttf') format('truetype');
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/woff/Yekan.woff') format('woff'),
        url('/assets/fonts/ttf/Yekan.ttf') format('truetype');
}


i[class^='gg'] {
    /* This value will multiple the actual size  */
    --ggs: 0.7;
}
